<h1><%= @user.username %>'s Profile</h1>

<p>
  <strong>E-mail:</strong> <%= @user.email %>
</p>

<% if @user.full_name %>
  <p><strong>Full name:</strong> <%= @user.full_name %></p>
<% end %>