<% if resource.errors.any? %>
  <h4 class="error-heading">
    <%= pluralize(resource.errors.count, "error") %> prevented you from <%= attempted_action %>:
  </h4>

  <ol>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>