<div>
  <h1>Welcome to MyVerses!</h1>

  <h2>About</h2>
  <p>
    A while back, my church had people choose their favorite Bible verse, which they called a #MyVerse, 
    share it on Facebook, and/or write it on a large sticky note and put it up on a wall.
    When I did this, I had a hard time choosing just one verse or passage.
  </p>
  <p>
    This app solves that issue. 
    Instead of choosing just one MyVerse, you can write and share as many MyVerses as you want!
    You also have the option of viewing other people's MyVerses if you want ideas.
  </p>
  
  <p>My hope is that this will help others have a better appreciation of God's Word. Have fun!</p>
</div>