/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  background-color: #954E26;
}

.spine {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: #5C3918;
}

.spine div {
  display: flex;
  flex: 1;
  align-items: center;
  width: 75%;
}

.yellowbar {
  background-color: #EDFA58;
  height: 10%;
}

.spine nav {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-around;
  align-items: center;
}

nav .button_to {
  height: 10%;
}

nav .button_to input {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 7;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
}

.page h1 {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #954E26;
  width: 100%;
  padding: 1% 0;
  margin: 0;
}

.page div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 75%;
}

.page h2 {
  color: white;
}

.page div h2 {
  color: black;
  text-decoration: underline;
}

.page p {
  display: flex;
  justify-content: center;
  width: 75%;
}

.page div form:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page div form:first-of-type p {
  display: flex;
  justify-content: space-between;
  width: 110%;
}

h2 + form.button_to {
  height: 5%;
}

h2 + form.button_to input{
  height: 100%;
  color: white;
  background-color: #5675E1;
}

.page div form:first-of-type input[type="submit"] {
  margin-bottom: 5%;
  width: 31%;
}

.required-field, .error-heading, .no-my_verses, .no-references {
  color: red;
}

.field_with_errors input, .field_with_errors textarea {
  background-color: red;
  color: white;
}

.success-heading, .logged_in-heading {
  color: green;
}